In [11]:
# Inventory DataFrame
import pandas as pd
data = {
    "Location1": [100, 50, 300, 200, 80],
    "Location2": [200, 60, 400, 250, 90],
    "Location3": [150, 40, 350, 220, 70],
    "Location4": [300, 80, 500, 270, 100]
}

inventory = pd.DataFrame(data, index=["Product1", "Product2", "Product3", "Product4", "Product5"])

In [15]:
inventory.head(2)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80

In [19]:
inventory.shape

(5, 4)

In [21]:
columns = inventory.columns
rows = inventory.index
columns, rows

(Index(['Location1', 'Location2', 'Location3', 'Location4'], dtype='object'),
 Index(['Product1', 'Product2', 'Product3', 'Product4', 'Product5'], dtype='object'))

In [23]:
inventory.dtypes

Location1    int64
Location2    int64
Location3    int64
Location4    int64
dtype: object

In [25]:
inventory.isnull().sum()

Location1    0
Location2    0
Location3    0
Location4    0
dtype: int64

In [27]:
inventory.loc["Product3"]

Location1    300
Location2    400
Location3    350
Location4    500
Name: Product3, dtype: int64

In [29]:
inventory["Location2"]

Product1    200
Product2     60
Product3    400
Product4    250
Product5     90
Name: Location2, dtype: int64

In [31]:
inventory.loc[["Product1", "Product4"], ["Location1", "Location3"]]

          Location1  Location3
Product1        100        150
Product4        200        220

In [33]:
inventory.iloc[0:3, 0:2]

          Location1  Location2
Product1        100        200
Product2         50         60
Product3        300        400